<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inputs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="/css/inputs.css">
    </script>

</head>

<body class="capo-background">
    <div class="container flex-c-m">
        <form class='input-form validate-form'>
            <div class="row flex-c" style="width: 100%;">
                <div class="col-25">
                    <label class='txt-input-form'>Date</label>
                </div>
                <div class="col-40 validate-input" data-validate="Date Is required">
                    <input class="input-1  input100" type="date" id="date">
                </div>
            </div>
            <div class="row flex-c" style="width: 100%;">
                <div class="col-25">
                    <label class='txt-input-form'>Batch Number</label>
                </div>
                <div class="col-40 validate-input" data-validate="Batch No Is required">
                    <input class="input-1 input100" type="text" id="batchNo" placeholder="Batch Number">
                </div>
            </div>
            <div class="row flex-c" style="width: 100%;">
                <div class="col-25">
                    <label class='txt-input-form'>Machine</label>
                </div>
                <div class="col-40 validate-input" data-validate="Machine Is required">
                    <select class="input100" id="machine">
                        <option></option>
                        <option value="0">Simply 8 (TBA 8)</option>
                        <option value="1">TFA A1 200</option>
                        <option value="2">TFA A1 500</option>
                        <option value="3">TCA</option>
                    </select>
                </div>
            </div>
            <div class="row flex-c" style="width: 100%;">
                <div class="col-25">
                    <label class='txt-input-form'>Product</label>
                </div>
                <div class="col-40 validate-input" data-validate="Product Is required">
                    <select class="input100" id="product">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="row flex-c" style="width: 100%;">
                <div class="col-25">
                    <label class='txt-input-form'>Traget</label>
                </div>
                <div class="col-40 validate-input" data-validate="Traget Is required">
                    <input class="input-1 input100" type="text" id="target" placeholder="Traget">
                </div>
            </div>
            <div class="row flex-c" style="width: 100%;">
                <div class="col-25">
                    <label class='txt-input-form'>Planed Production Time</label>
                </div>
                <div class="col-40 validate-input" data-validate="PPT Is required">
                    <input class="input-1 input100" type="text" id="ppt" placeholder="PPT in MIN">
                </div>
            </div>
            <div class="row flex-c" style="width: 100%;">
                <div class="col-25">
                    <label class='txt-input-form'>Planed Stop Time</label>
                </div>
                <div class="col-40 validate-input" data-validate="PST Is required">
                    <input class="input100 input-1" type="text" id="pst" placeholder="PST in MIN">
                </div>
            </div>
            <div class="row">
                <button class="login100-form-btn m-t-30 start-btn" id="start-btn">Start</button>
            </div>
        </form>
        <div class="running-batch-form flex-c-m">
            <ul class="batch-list flex-c-m col"></ul>
        </div>
        <input style="display: none;" id="getBatches" value="<%=batch%>"></input>
    </div>



    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->

    <script src="js/inputs.js"></script>

</body>

</html>