<!DOCTYPE html>
<html lang="en">

<head>
    <title>No Batch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>

<body class="capo-background">
    <div class="container flex-c-m col">
        <img src="/images/icons/stopping.png" width="300" height="300">
       <p class="txt3 m-t-100">No Batch Started Yet</p>
    </div>
</body>

</html>