<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reports</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/reports.css">
    </script>
    <style>
        .report-list {
            flex-basis: 100%;
        }

        .report-item {
            width: 60%;
            height: 300px;
            margin-top: 30px;
            background-color: white;
            border-radius: 7px;
            display: flex;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>

<body style="background-color:white">
    <!-- <div id='nav'> -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Report Page</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-header m-l-120">
                    <a class="navbar-brand" href="#">From</a>
                </div>
                <div class='col-sm-2 navbar-form'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='date' class="form-control" id="fromDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">To</a>
                </div>
                <div class='col-sm-2 navbar-form'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='date' class="form-control" id="toDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="navbar-form navbar-left">
                    <!-- <div class="form-group">
                        <input type="text" class="form-control date" placeholder="">
                    </div> -->
                    <button class="btn search-btn btn-default">Submit</button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><%= username %></a></li>
                    <li class="logout">
                        <a href="#" id="logout">Logout</a>
                        <form id="logout-form" action="/logout" method="post"></form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab" id="tab">
            <button class="tablinks active" id="terpko-A">Trepko A</button>
            <button class="tablinks" id="terpko-B">Trepko B</button>
            <button class="tablinks" id="terpko-C">Trepko C</button>
            <button class="tablinks" id="erca-A">Erca A</button>
            <button class="tablinks" id="erca-B">Erca B</button>
            <button class="tablinks" id="novaPak">NovaPak</button>
        </div>
    </nav>
    <div>
        <ul class="report-list flex-m col">
        </ul>
    </div>

    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/report.js"></script>
</body>

</html>