.tab {
    overflow: hidden;
    background-color: rgb(252, 252, 252);
    color: #999;
    border: none;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    /* width: 100%; */
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    flex-basis: 100%;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: #666;
    border-bottom: 1px solid #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: #333;
    border-bottom: 2px solid #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    /* border-top: none; */
    border: none;
  }


  /* !-- blanchedalmond; -->
<!-- aquamarine; --> */
/* rgb(255, 142, 127); */